
.w3l-content-with-photo-4 .content-photo-grids {
    align-items: center; 
}


.w3l-content-with-photo-4 p {
    font-size: 1.2rem;
    line-height: 24.5px;
    color: #696687;
}




.w3l-content-with-photo-4 .img-fluid {
    border-radius: 8px;
}